/* Utils */

.danger{
  color: red;
}

.success{
  color: green;
}

.warning{
  color: #FDC41E;
}

.info{
  color: #107BB5;
}

/* Layout */

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 2% 4%;
  background-color: white;
}

.card-mytaxi{
  border: 1px solid #FDC41E;
  max-height: 12rem;
}

.card-car2go{
  border: 1px solid #107BB5;
}

.logo{
  height: 20%;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
} 

.card h4 {
  margin-bottom: 0;
  margin-top: 0.2rem;
}

.card-mytaxi h4{
  color: #FDC41E;
}

.card-car2go h4{
  color: #107BB5;
}

.vehicle-info{
  text-align: center;
  width: 80%;
  height: 50%;
  margin: 0 auto;
}

.license{
  margin-top: 0.5;
  margin-bottom: 1rem;
}

.vehicle-status{
  display: flex;
  width: 100%;
}

.status-container{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: auto 2.5%;
  text-align: center;
  align-items: center;
}

.status-container h4{
  width: 90%;
  margin-right: 5%;
}


@media(min-width: 760px){
  .card{
    width: 45%;
    margin: 1% 2.25%;
  }
}

@media(min-width: 1024px){
  .card{
    width: 20%;
  }
}
