.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #F3F3F3;
  width: 90%;
  margin: 2% 4%;
}

.logo{
  width: 50px;
  margin-top: 0.5rem;
}

@media(min-width: 768px){
  .card{
    width: 45%;
    margin: 1% 2.25%;
  }
}

@media(min-width: 1024px){
  .card{
    width: 20%;
  }
}
