.car-filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  background-color: rgba(16, 123, 181, 0.8);
}

.sub-container{
  height: 3rem;
  display: flex;
}

.car-filter h3{
  color: white;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

.checkbox{
  background-color: white;
  border: none;
  height: 1rem;
  width: 1rem;
  margin: 1.5rem 0;
}

.checked{
  background-color: green;
}

@media(min-width: 760px){
  .car-filter{
    height: 4rem;
    flex-direction: row;
    justify-content: space-around;
  }
}
