.container{
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}

.background-myTaxy{
  background-color: rgba(253, 196, 30, 0.8);
}

.background-car2go{
  background-color: rgba(16, 123, 181, 0.8);
}
