.toggler{
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  margin: 0 auto;
  background-image: linear-gradient(-90deg, #FDC41E, #107BB5);
}

.btn{
  border: none;
  height: 5vh;
  width: 30vw;
  margin: 2.5vh auto;
  color: white;
  font-size: 1.1rem;
  border-radius: 25px;
}

.btn:first-of-type{
  background-color: #FDC41E;
}

.btn:last-of-type{
  margin-left: 5vw;
  background-color: #107BB5;
}
